@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
$primary: #121416;
$secondary: #F8F9FA;

$font-family: 'Almarai', sans-serif;
$font-lg: '40px';
$font-md: '24px';
$font-sm: '20px';