@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import 'variables';

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: $primary;
    color: $secondary;
    font-family: $font-family;
    padding: 0;
}

h1 {
    font-weight: 400;
    margin: 0;
    padding: 0;

    &.title{
        font-size: $font-lg;
    }

    &.rotate {
        transform: rotate(-90deg);  
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        margin: 0;
        text-align: left;
        position: absolute;
        left: -5%;
        top: 20%;
        transform-origin: bottom;
    }
}

h2 {
    font-weight: 400;
    font-size: $font-md;
    position: absolute;
    right: 140px;
    top: 15%;
}

nav {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 50px;

    a {
        text-decoration: none;
        color: $secondary;
        font-size: $font-md;
        margin-top: 90%;

        &:not(:last-child) {
            margin-right: 70px;
        }
    
        &:focus, &:hover {
            text-decoration: underline;
        }
    }
}

.events {
    position: absolute;
    right: 140px;
    top: 20%;
    margin-top: 100px;
    width: 70%;

    ol {
        list-style: none;
        counter-reset: custom-counter;
        margin: 0;
        padding: 0;
        
        li {
            font-size: $font-sm;
            counter-increment: custom-counter;
            margin-right: 20%;
            &::after {
                content: "0" counter(custom-counter);
                font-size: $font-sm;
                position: absolute;
                right: 0;
            }
            
            &:not(:last-child) {
                margin-bottom: 50px;
            }
        }
    }
}

