@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); 
  html, body {
    background-color: #121416;
    color: #F8F9FA;
    font-family: 'Almarai', sans-serif; }
