

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap'); 
  html, body {
    margin: 0;
    height: 100%; }

    body {
      background-color: #121416;
      color: #F8F9FA;
      font-family: 'Almarai', sans-serif;
      padding: 0; }

      h1 {
        font-weight: 400;
        margin: 0;
        padding: 0; }
        h1.title {
          font-size: 60px; }
          h1.rotate {
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            margin: 0;
            text-align: left;
            position: absolute;
            left: -5%;
            top: 20%;
            transform-origin: bottom; }

  h2 {
    font-weight: 400;
    font-size: 32px;
    position: absolute;
    right: 140px;
    top: 15%; }

    nav {
      position: absolute;
      bottom: 0;
      margin-bottom: 30px;
      margin-left: 50px; }
      nav a {
        text-decoration: none;
        color: #F8F9FA;
        font-size: 32px;
        margin-top: 90%; }
        nav a:not(:last-child) {
          margin-right: 70px; }
          nav a:focus, nav a:hover {
            text-decoration: underline; }

  .events, .officers {
    position: absolute;
    right: 140px;
    top: 20%;
    margin-top: 100px;
    width: 70%; }
    .events ol, .officers ol {
      list-style: none;
      counter-reset: custom-counter;
      margin: 0;
      padding: 0; }
      .events ol li, .officers ol li {
        font-size: 28px;
        counter-increment: custom-counter;
        margin-right: 20%; }
        .events ol li::after, .officers ol li::after {
          content: "0" counter(custom-counter);
          font-size: 28px;
          position: absolute;
          right: 0; }
          .events ol li:not(:last-child), .officers ol li:not(:last-child) {
            margin-bottom: 50px; }
            .events ol li.underline, .officers ol li.underline {
              text-decoration: underline; }
