<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "scss_all" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% endassets %}
    <title>{% block title %}{% endblock %} - Design Club</title>
</head>
<body>
    <div class="col">
        <h1>
            <a class="title rotate" href="{{ url_for('index') }}">{{ name }}</a>
        </h1>
    </div>
    <h2>{% block section %}{% endblock %}</h2>
    <nav>
        <a href="{{ url_for('about') }}">about</a>
        <a href="{{ url_for('blog') }}">blog</a>
        <a href="{{ url_for('resources') }}">resources</a>
    </nav>
    <div class="content">
        <div class="grid">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- CUSTOM JS -->
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/app.js') }}"></script>
    {% endassets %}
</body>
</html>