<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "scss_all" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% endassets %}
    <title>Design Club</title>
</head>
<body>
    <div class="col">
        <h1 class="title rotate">{{ name }}</h1>
    </div>
    <nav>
        {% for item in navItems %}
            <a href="#">{{ item }}</a>
        {% endfor %}
    </nav>
    <h2>Upcoming Events</h2>
    <div class="events">
        <ol>
            {% for event in events %}
                <li>{{ event }}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>